---
import MuiRoot from "../components/MuiRoot.tsx";
import Hero from "../components/Hero.tsx";
import NavBar from "../components/NavBar.tsx";
import Introduction from "../components/Introduction.tsx";
import Skills from "../components/Skills.tsx";
import Footer from "../components/Footer.tsx";
const title = "summer.dev";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="../styles/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <MuiRoot client:idle>
		<NavBar/>
		<Hero/>
		<Introduction/>
		<Skills/>
		<Footer/>
      </MuiRoot>
    </main>
  </body>
</html>